.download-btn {
    height: 20px;
    line-height: 1;
    margin-bottom: 20px;
    background: #4d0000;
    padding: 20px 30px;
    color: #FFF;
    border-radius: 100px;
    transition: all 100ms;
    display: inline-block;
    font-weight: bold;
}

.download-btn:hover {
    color: #FFF;
    text-decoration: none;
    transform: scale(1.1);
}